<div class="col-md-6 col-lg-4 mt-3 mb-3">
  <div id="<%= dom_id(project) %>" class="card <%= dom_class(project) %>">
    <a href="<%= project.url %>">
      <% if project&.screenshot&.desktop_image.present? %>
        <%= image_tag rails_blob_path(project.screenshot.desktop_image), alt: '', class: 'card-img-top' %>
      <% end %>
    </a>
    <div class="card-body">
      <h2 class="card-title h5">
        <a href="<%= project.url %>">
          <%= project.name %>
        </a>
      </h2>
      <% if project.description.present? %>
        <%= markdown(project.description) %>
      <% end %>
    </div>
  </div>
</div>