<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ProjectList</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <div class="wrap-body">
      <%= yield %>
    </div>
    <div class="wrap-footer">
      <div class="page-footer">
        <div class="container">
          <p class="text-center">View the <a href="https://github.com/bensheldon/project_list">code on Github</a>.</p>
        </div>
      </div>
    </div>
  </body>
</html>
